{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
	<img src="/static/00.png" alt="NSIT"></br></br>
    <h1>Handwriting Generation</h1>
    <p class="lead">This interface was designed for our thesis project "Generating Handwritten Text using Recurrent</br> Neural Networks (LSTM) for the partial fulfilment of requirement for the award of B.E in Computer Engineering.</br>Our aim is to generate handwritten text from typed inputs with writing characteristics that are specific to the writing style of the author. Further which user trains the model by providing their handwritten texts as inputs and subsequently use the model to generate document (an image) written in their handwriting font from text inputs.</br></br>Input to the Interface : Stream of ASCII character entered by a user</br>Output Generated: Synthesized handwritten text of the character stream inputted by the user.</br></br>Created by:</br>Sandhini Ghodeshwar 346/CO/15</br>Santosh Kant 348/CO/15</br>Shivam 360/CO/15</p>
  </div>
{% endblock %}